* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: Overpass Mono;
  background-color: #c5e4e7;
  color: #5e7a7d;
  font-size: 1.8rem;
  font-weight: 700;
}

h1 {
  text-align: center;
  margin-top: 6rem;
}

/* ************* */
/*  MOBILE-FIRST */
/* ************* */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.bg {
  min-width: 34rem;
  background-color: #fff;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 3rem 0;
  display: flex;
  /* changes to row above 940px */
  flex-direction: column;

  align-items: center;
  gap: 3rem;
}

/* ********************* */
/* LEFT-SIDE / TOP (USER INPUTS) */
/* ********************* */

.inputs {
  max-width: 29rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* INPUTS SECTION */

.bill-section,
.people-section {
  display: flex;
  flex-direction: column;
}

.tip-btn-section {
  margin-top: 1rem;
  list-style: none;
  display: grid;
  gap: 2rem;

  /* changes for above 500px */
  grid-template-columns: 1fr 1fr;
}

/* INPUTS LABELS */

.label-inputs {
  margin-bottom: 0.5rem;
}

.bill-section,
.people-section {
  position: relative;
}

.icon-people,
.icon-euro {
  width: 2.6rem;
  height: 2.6rem;
  opacity: 70%;
  position: absolute;
  top: 0;
  transform: translate(40%, 130%);
}

/* INPUTS & BUTTONS */

input,
.btn {
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  height: 4.6rem;
  transition: all 0.3s;
}

input {
  background-color: #e6fcf5;
  color: #00494d;
  font-size: 2.4rem;
  text-align: end;
  padding-right: 1.6rem;
}

.btn {
  width: 100%;
  background-color: #00494d;
  color: #e6fcf5;
  font-size: 2rem;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
}

input:hover {
  background-color: #96f2d7;
}

input:hover::placeholder,
input:focus::placeholder {
  color: #e6fcf5;
}

.btn:hover {
  background-color: #96f2d7;
  color: #00494d;
  cursor: pointer;
}

input:focus,
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem #26c0ab;
}

.tip-btn-custom {
  width: 100%;
}

.tip-btn-custom::placeholder {
  color: #e6fcf5;
  /* color: #5e7a7d; */
  text-align: center;
}

.error-numPeople,
.error-bill,
.error-customTip {
  display: inline-block;
  margin-top: 7px;
  justify-content: end;
  color: #eb7105;
  font-size: 1.6rem;
}

.error {
  display: flex;
  justify-content: end;
  height: 3rem;
}

.error-border {
  border: 0.2rem solid #eb7105;
}

/* ****************** */
/* RIGHT-SIDE / BOTTOM (OUTPUTS) */
/* ****************** */

.outputs {
  flex-direction: column;
  display: flex;
  /* flex: 1; equal sized cols */
  background-color: #00494d;
  border-radius: 12px;
  padding: 3rem;
  /* changes for above 500px */
  min-width: 29rem;
  gap: 3rem;
}

/* OUTPUTS LABELS */

.tip-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.tip-sub-label {
  display: flex;
  flex-direction: column;
}

.label-outputs {
  color: #f4fafa;
}

.sub-label {
  color: #f4fafa;
  font-size: 1.6rem;
  margin-top: 5px;
}

/* OUTPUTS */

.bill-tip-total,
.tip-amount-pp {
  color: #e6fcf5;
  font-size: 3.4rem;
}

.total-amount-pp {
  color: #96f2d7;
  font-size: 4.2rem;
}

/* RESET BUTTON */

.reset-btn {
  font-family: Space Mono;
  background-color: #c8d8d3;
  color: #00494d;
  font-size: 2.4rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  height: 4.6rem;
  margin-top: auto;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
}

/* *********** */
/* BREAKPOINTS */
/* md: 940px */
/* sm: 500px */
/* *************** */

/* *************** */
/* above 500px */
/* *************** */

@media only screen and (min-width: 500px) {
  .bg {
    align-items: center;
    width: 50rem;
    /* width: 42rem; */
    /* padding: 3rem; */
    border-radius: 2rem;
    box-shadow: 0 0.2rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
    /* gap: 0rem; */
  }

  .tip-btn-custom::placeholder {
    color: #e6fcf5;
    /* color: #5e7a7d; */
    /* padding-left: 0.5rem; */
  }

  .tip-btn-section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .inputs {
    min-width: 50rem;
    padding: 0 6rem;
  }

  .outputs {
    padding: 3rem;
    min-width: 38rem;
    gap: 3rem;
  }

/* *************** */
/* TABLETS -- 940px */
/* *************** */

@media only screen and (min-width: 940px) {
  .bg {
    flex-direction: row;
    align-items: center;
    height: 48rem;
    min-width: 93rem;
    padding: 3rem;
  }

  .inputs {
    width: 42rem;
    min-width: 42rem;
    padding: 3rem;
  }

  .outputs {
    min-width: 42rem;
    height: 42rem;
    padding: 3rem;
  }
}
